main{
    width: 100%;
    margin: 4rem 0;
}
.listContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'p s' 'r r';
    gap: 3rem;
    justify-items: center;
}

.paper, .rock, .scissors{
    flex: 0 1 33.3333%;
    width: 120px;
    height: 120px;
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 0.85rem solid;
}
.paper, .rock, .scissors img{
    object-fit: contain;
}
.paper {
    grid-area: p;
    border-color: var(--paper-outline);
}
.rock {
    grid-area: r;
    border-color: var(--rock-outline);
}
.scissors {
    grid-area: s;
    border-color: var(--scissors-outline);
}

.selectContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px){
    main{
        width: 768px;
        margin: 7rem 0 2rem 0;
    }
    .paper, .rock, .scissors{
        width: 210px;
        height: 210px;
        border-width: 1.33rem;
        padding: 2rem;
    }
}